<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="https://img.icons8.com/?size=100&id=0aEe8ME04wkR&format=png&color=000000">
		<meta name="generator" content={Astro.generator} />
		//fuentes
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Cv Liev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {		
		background-color: #00060f;
		font-family: "Libre Franklin", sans-serif;
  		font-optical-sizing: auto;
  		font-weight: 700;
  		font-style: normal;
		scroll-behavior: smooth
	}
</style>
